/* establece estilo a la cabecera */
header{
    background-color:rgb(194, 161, 201);
    padding:1%;
    text-align: center;
    border-top: 10px solid rgb(212, 117, 117) (240,127,34);
    border-bottom: 10px solid rgb(142, 153, 155);
    color: black(20,8,1);
}

.imagen-inline{
    width: 200px;
     height: 250;
     float: right;
    display:inline;
    margin-right: 10px;
    margin-top: 5px;
}

.navbar ul{
    background-color:black;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 0%;
    margin: 0%;
}

.btn-nav {
    background-color: rgb(142, 153, 155);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn-nav:hover{
    background-color: rgb(64, 250, 234);
}
.articulo{
    background-color: rgb(204, 160, 212);
    flex: 3;
    padding: 20px;
}
.pie{
    background-color: rgb(142, 153, 155);
}
.propaganda{
    background-color:rgb(228, 218, 218);
    flex: 1;
    padding: 20px;
}
body{
    margin: 0;
}
.imagen-inlin{
    width: 700px;
     height: 200;
     float: right;
    display:inline;
    margin-right: 450px;
    margin-top: 0px;
}

.contenedor{
    display: flex;
    width: 100vw;
}
